<!-- Link to the CSS file for this view-->
@section Styles {
    <link href="@Url.Content("~/Styles/HomepageStyle.css")" rel="stylesheet" type="text/css" />
}

<!-- All the html content that must be the body -->
<div class="wrapper">
    <div class="MastHead" data-role="header" data-position="fixed" data-tap-toggle="false" style="background-color: #0082CA ">
        <div class="HeaderLogo"><img src="~/images/header-logo.png"></div>
    </div>
</div>

<div style="height: 30px;"></div>
<div class="container-fluid text-center bg-grey">
    <div class="row text-center">
        <div class="col-sm-4">
            <a href='@Url.Action("Actiepunten", "Home")'/>
                <div class="thumbnail">
                    <span class="glyphicon glyphicon-flash logo-small"></span>
                    <h4><strong>Actionpoints</strong></h4>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href='@Url.Action("StarrPage", "Home")' />
                <div class="thumbnail">
                    <span class="glyphicon glyphicon-file logo-small"></span>
                    <h4><strong>New STARR</strong></h4>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href='@Url.Action("StarrList", "Home")' />
                <div class="thumbnail">
                    <span class="glyphicon glyphicon-th-list logo-small"></span>
                    <h4><strong>STARR List</strong></h4>
                </div>
            </a>
        </div>
        <div class="col-sm-6">
            <a href='@Url.Action("MyAccount", "Home")' />
                <div class="thumbnail">
                    <span class="glyphicon glyphicon-user logo-small"></span>
                    <h4><strong>Account</strong></h4>
                </div>
            </a>
        </div>
        <div class="col-sm-6">
            <a href='@Url.Action("Index", "Home")' />
                <div class="thumbnail">
                    <span class="glyphicon glyphicon-log-out logo-small"></span>
                    <h4><strong>Logout</strong></h4>
                </div>
            </a>
        </div>
    </div>
</div>
<div style="height: 30px;"></div>