<!-- Link to the CSS file for this view-->
@section Styles {
    <link href="@Url.Content("~/Styles/MyAccountStyle.css")" rel="stylesheet" type="text/css" />
}

<nav class="navbar" style="background-color: #0082CA">
    <div class="container-fluid">
        <div class="navbar-header">
            <img class="navbar-brand" src="~/Images/header-logo.png">
        </div>
        <ul class="nav navbar-nav">
            <li><a href='@Url.Action("Homepage", "Home")'><span class="glyphicon glyphicon-home"></span></a></li>
            <li><a href='@Url.Action("Actiepunten", "Home")'>Actionpoints</a></li>
            <li><a href='@Url.Action("StarrPage", "Home")'>STARR</a></li>
            <li><a href='@Url.Action("StarrList", "Home")'><span class="glyphicon glyphicon-th-list"></span></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href='@Url.Action("MyAccount", "Home")'><span class="glyphicon glyphicon-user"></span> My Account</a></li>
            <li><a href='@Url.Action("Index", "Home")'><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
        </ul>
    </div>
</nav>
<div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title" id="myModalLabel">Jari Scholten</h4>
            </div>
            <div class="modal-body">
                <center>
                    <img src="~/images/placeholder.png" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                    <h3 class="media-heading">Jari Scholten<small>NL</small></h3>
                    <span><strong>Skills: </strong></span>
                    <span class="label label-warning">HTML5/CSS</span>
                    <span class="label label-info">Java</span>
                    <span class="label label-info">C#</span>
                    <span class="label label-success">Excel/Word</span>
                </center>
                <hr>
                <center>
                    <h2 class="text-center"><strong>Bio </strong></h2>
                    <br>
                    <p>Currently a HBO-ICT student at Fontys Eindhoven where I am helping acknowledge with their webapplication.</p>
                    <br>
                    <hr>
                    <h2 class="text-center"><strong> Information </strong></h2>
                    <br>
                    <p class="text-center"><strong> Email </strong></p>
                    <input type="email" name="email" placeholder="jari.scholten@gmail.com" required class="form-control input-lg" />
                    <br>
                    <p class="text-center"><strong> Username </strong></p>
                    <input type="text" name="username" placeholder="jscholten@acknowledge.nl" required class="form-control input-lg" />
                    <br>
                    <p class="text-center"><strong> Firstname </strong></p>
                    <input type="text" name="firstname" placeholder="Jari" required class="form-control input-lg" />
                    <br>
                    <p class="text-center"><strong> Lastname </strong></p>
                    <input type="text" name="lastname" placeholder="Scholten" required class="form-control input-lg" />
                    <br>
                    <p class="text-center"><strong> Adress </strong></p>
                    <input type="text" name="adress" placeholder="Lampendriessen 31-588" required class="form-control input-lg" />
                    <br>
                    <button type="button" class="btn btn-primary">Edit</button>
                </center>
            </div>
        </div>
    </div>
</div>
<div style="height: 30px;"></div>