@section Styles {
    <link href="@Url.Content("~/Styles/StarrPageStyle.css")" rel="stylesheet" type="text/css" />
}

<!-- Link to the javascript file for this view-->
@Scripts.Render("~/Scripts/MyScripts/StarrPageScript.js")

<!-- All the HTML that belongs in the body-->

<nav class="navbar" style="background-color: #0082CA">
    <div class="container-fluid">
        <div class="navbar-header">
            <img class="navbar-brand" src="~/Images/header-logo.png">
        </div>
        <ul class="nav navbar-nav">
            <li><a href='@Url.Action("Homepage", "Home")'><span class="glyphicon glyphicon-home"></span></a></li>
            <li><a href='@Url.Action("Actiepunten", "Home")'>Actionpoints</a></li>
            <li><a href='@Url.Action("StarrPage", "Home")'>STARR</a></li>
            <li><a href='@Url.Action("StarrList", "Home")'><span class="glyphicon glyphicon-th-list"></span></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href='@Url.Action("MyAccount", "Home")'><span class="glyphicon glyphicon-user"></span> My Account</a></li>
            <li><a href='@Url.Action("Index", "Home")'><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="container-fluid" style="background-color: white; border-radius: 25px;">
        <div class="row content">
            <div class="text-center">
                <h1 style="color: #0082CA">STARR</h1>
                <hr>
                <h2>Actionpoint 1</h2>
                <div class="formwrapper">
                    <div class="form-group">
                        <h4>Situatie</h4>
                        <textarea class="form-control" rows="5" id="comment"></textarea>

                        <h4>Taak</h4>
                        <textarea class="form-control" rows="5" id="comment"></textarea>

                        <h4>Actie</h4>
                        <textarea class="form-control" rows="5" id="comment"></textarea>

                        <h4>Resultaat</h4>
                        <textarea class="form-control" rows="5" id="comment"></textarea>

                        <h4>Reflectie</h4>
                        <textarea class="form-control" rows="5" id="comment"></textarea>
                        <hr>
                        <form id="smileys">
                            <input type="radio" name="smiley" value="sad" class="sad">
                            <input type="radio" name="smiley" value="neutral" class="neutral">
                            <input type="radio" name="smiley" value="happy" class="happy" checked="checked">

                        </form>

                        <a class="btn btn-success" data-toggle="modal" href="#coachModal">Add Coach</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade text-center" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Actionpoints</h4>
            </div>
            <div class="modal-body">
                <div class="list-group">
                    <a href="#" data-dismiss="modal" class="list-group-item list-group-item-action">Actionpoint 1</a>
                    <a href="#" data-dismiss="modal" class="list-group-item list-group-item-action">Actionpoint 2</a>
                    <a href="#" data-dismiss="modal" class="list-group-item list-group-item-action">Actionpoint 3</a>
                    <a href="#" data-dismiss="modal" class="list-group-item list-group-item-action">Actionpoint 4</a>
                    <a href="#" data-dismiss="modal" class="list-group-item list-group-item-action">Actionpoint 5</a>
                    <a href="#" data-dismiss="modal" class="list-group-item list-group-item-action">Actionpoint 6</a>
                    <a href="#" data-dismiss="modal" class="list-group-item list-group-item-action">Actionpoint 7</a>
                    <a href="#" data-dismiss="modal" class="list-group-item list-group-item-action">Actionpoint 8</a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<!-- Modal -->
<div class="modal fade text-center" id="coachModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Coaches</h4>
            </div>
            <div class="modal-body">
                <select multiple class="form-control" id="sel2">
                    <option>Jan</option>
                    <option>Henk</option>
                    <option>Piet</option>
                    <option>Linda</option>
                    <option>Marianne</option>
                    <option>Thomas</option>
                    <option>Gerard</option>
                    <option>Lia</option>
                </select>
                <hr>
                <a class="btn btn-success" href='@Url.Action("StarrPage", "Home")'>Finish</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div style="height: 30px;"></div>